.box(id='box_'+contact._id['$id'])
  .label
    .controls
      .bbutton.destroy(title='close')
        span.icon-cancel
    .name #{contact.name}
    .phone #{contact.phones[0]}
    .clear
  .body.loading
    include _mloader
  .bottom
    .input
      textarea.blured(type='text',placeholder='Type message')
      .button.enter 
