.box
  .label
    .controls
      .bbutton(title='close')
        span.icon-cancel
    .name Troy Sheets
    .phone 949 290 8989
    .clear
  .body
    include _loader
  .bottom
    .input
      textarea.blured(type='text',placeholder='Type message')
      .button.enter 
