.box(id='box_'+contact._id['$id'])
  .label
    .controls
      .bbutton.destroy(title='close')
        span.icon-cancel
      .bbutton.maximize(title='maximize')
        span.icon-resize-full
      .bbutton.restore(title='restore')
        span.icon-resize-small
    .name #{contact.name}
    .phone #{contact.phones[0]}
    .clear
  .body.loading
    include _mloader
  .bottom
    .input
      input(type='text',placeholder='Type message')
      .button.enter 
