.box
  .label
    .phone 949 290 8989
    .name Troy Sheets
    .clear
  .body
    .message.from
      .picture
        img(src='/img/pictures/519012f74b765e241a000101.jpeg')
      .copy this is a test
      .date 2 hours ago
    .message.to
      .picture
        img(src='https://lh6.googleusercontent.com/-G6NOOtsjrAw/AAAAAAAAAAI/AAAAAAAABGw/JXCJ8ridVT8/photo.jpg')
      .copy this is another test p
        |  this is another test
        |  this is another test
        |  this is another test
        |  this is another test
      .date 3 hours ago
  .bottom
    .input
      textarea.blured(type='text',placeholder='Type message')
      .button.enter 
