each message, index in messages
  .message(class=message.whichClass)
    if message.picture
      .picture
        img(src=message.picture)
    else
      .picture.icon-user
    .copy #{message.copy}
    .date: abbr.timestamp(data-stamp=message.date) loading
