
each contact,index in contacts
  .contact(data-id=index,title=contact.name)
    .picture
      if contact.picture
        img(src='/img/pictures/' + contact.picture['$id'] + '.jpeg')
      else
        .icon-user
    .name #{contact.name}
    .clear
