
.contacts.loading
  .resizer(data-for='.contacts').hint--right(data-hint='click to drag or double click to minimize/restore')
    .ghost
    .handle
      .dot  &middot
      .dot  &middot
      .dot  &middot
  .body.loading
    include _loader
    .clear
  .search-button.hint--top(data-hint='search contacts')
    span.icon-search
  .groups-button.hint--right(data-hint='filter groups')
    span.icon-users

