
each contact,index in contacts
  .contact(data-id=index,data-name=contact.name,title=contact.name)
    .picture
      if contact.picture
        img(src='/img/pictures/' + contact.picture['$id'] + '-40-40.jpeg')
      else
        .icon-user
    .name #{contact.name}
    .clear
.none can't find a contact? try re-importing them.
