
extends layout

block header

  if user == false
    .hbutton.login
      a(href=authURL) Sign in With Google
  else
    .profile
      .name #{user.name}
      .tools
        .hbutton.logout
          a(href='/auth/logout') logout 
      .picture
        img(src=user.picture)

  .logo texting.io
  .clear

block content
  .container this is the container
