
extends layout

block header

  if user == false
    include header_off
  else
    include header_on

  .logo
  .title texting
    span &period;
    | io

  .clear

block content
  if user == false
    include content_off
  else
    include content_on
