.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  color: #5d5d5d;
}
.header {
  padding: 5px 20px;
  background-color: #54728c;
  color: #fff;
}
.header .logo {
  float: left;
  font-size: 28px;
  font-weight: bold;
}
.header .login {
  float: right;
  color: #fff;
}
.header .hbutton {
  cursor: pointer;
  border: 2px solid #466077;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #708ba6;
  padding: 5px 10px;
}
.header .hbutton a {
  color: #fff;
  text-decoration: none;
}
.container {
  font-size: 1em;
  text-align: center;
  background-color: #f9f9f9;
  padding: 100px;
}
.footer {
  text-align: right;
  padding: 10px 20px;
}
