@-webkit-keyframes pound  {
  to {
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.65), 2px 6px 12px 0 rgba(0, 0, 0, 0.5), 3px 8px 15px 0 rgba(0, 0, 0, 0.45);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

}
@keyframes pound  {
  to {
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.65), 2px 6px 12px 0 rgba(0, 0, 0, 0.5), 3px 8px 15px 0 rgba(0, 0, 0, 0.45);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

}
.loader {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em 1em;
  margin-top: -4em;
  margin-left: -3em;
}
.loader ul {
  display: block;
  width: 4em;
  padding: 0;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0);
  -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0);
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0), 1px 1px 1px 0 rgba(0,0,0,0);
}
.loader li {
  list-style: none;
  display: block;
  float: left;
  width: 0.5em;
  height: 2em;
  margin: 0 0.3em 0 0;
  background: #635863;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #708ba6), color-stop(1, #54728c));
  background: -webkit-linear-gradient(top, #708ba6 0%, #54728c 100%);
  background: -moz-linear-gradient(top, #708ba6 0%, #54728c 100%);
  background: -o-linear-gradient(top, #708ba6 0%, #54728c 100%);
  background: -ms-linear-gradient(top, #708ba6 0%, #54728c 100%);
  background: linear-gradient(top, #708ba6 0%, #54728c 100%);
  -webkit-animation: pound 0.7s ease-in-out infinite alternate;
  -moz-animation: pound 0.7s ease-in-out infinite alternate;
  -o-animation: pound 0.7s ease-in-out infinite alternate;
  -ms-animation: pound 0.7s ease-in-out infinite alternate;
  animation: pound 0.7s ease-in-out infinite alternate;
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.loader li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader li:nth-child(3) {
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.loader li:nth-child(4) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loader li:nth-child(5) {
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
.mloader {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 100%;
  margin: -30px 0 0 -30px;
}
.mloader .dot {
  width: 4px;
  height: 4px;
  background: #54728c;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 14px;
  top: 2px;
  -webkit-transform-origin: 0 13px;
  -moz-transform-origin: 0 13px;
  -o-transform-origin: 0 13px;
  -ms-transform-origin: 0 13px;
  transform-origin: 0 13px;
  -webkit-animation: dot 2s ease-out infinite;
  -moz-animation: dot 2s ease-out infinite;
  -o-animation: dot 2s ease-out infinite;
  -ms-animation: dot 2s ease-out infinite;
  animation: dot 2s ease-out infinite;
}
.mloader .two {
  -webkit-animation-delay: 150ms;
  -moz-animation-delay: 150ms;
  -o-animation-delay: 150ms;
  -ms-animation-delay: 150ms;
  animation-delay: 150ms;
}
.mloader .three {
  -webkit-animation-delay: 280ms;
  -moz-animation-delay: 280ms;
  -o-animation-delay: 280ms;
  -ms-animation-delay: 280ms;
  animation-delay: 280ms;
}
.mloader .four {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  -ms-animation-delay: 500ms;
  animation-delay: 500ms;
}
@-moz-keyframes dot {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes dot {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes dot {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes dot {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes dot {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
.tloader {
  width: 20px;
  height: 1em;
  position: relative;
}
.tloader .dot {
  width: 3px;
  height: 3px;
  background: #a0a0a0;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: tdot 0.5s alternate infinite;
  -moz-animation: tdot 0.5s alternate infinite;
  -o-animation: tdot 0.5s alternate infinite;
  -ms-animation: tdot 0.5s alternate infinite;
  animation: tdot 0.5s alternate infinite;
}
.tloader .two {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -o-animation-delay: 200ms;
  -ms-animation-delay: 200ms;
  animation-delay: 200ms;
  left: 5px;
}
.tloader .three {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
  -o-animation-delay: 450ms;
  -ms-animation-delay: 450ms;
  animation-delay: 450ms;
  left: 10px;
}
@-moz-keyframes tdot {
  0% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-webkit-keyframes tdot {
  0% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-o-keyframes tdot {
  0% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-ms-keyframes tdot {
  0% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes tdot {
  0% {
    -webkit-transform: translateY(0rem);
    -moz-transform: translateY(0rem);
    -o-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  100% {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}
.smodal {
  position: fixed;
  width: 400px;
  height: 150px;
  background-color: #54728c;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.smodal .title,
.smodal .detail {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}
.smodal .detail {
  font-style: italic;
}
.smodal .title {
  font-size: 2em;
}
.smodal.off {
  height: 0px;
  opacity: 0;
  -moz-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: -20px;
}
.smodal.on {
  height: 150px;
  opacity: 1;
  -ms-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}
.overlay.on {
  display: block;
}
.overlay.off {
  display: none;
}
.focus {
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.progress {
  margin: auto;
  position: relative;
  width: 350px;
  height: 25px;
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #466077;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
  color: #fff;
}
.progress .copy {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgba(255,255,0,0) 0;
  margin-top: -25px;
}
.progress.orange span {
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -o-transition: width 3s;
  -ms-transition: width 3s;
  transition: width 3s;
  display: inline-block;
  color: #fff;
  height: 100%;
  width: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fecf23;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fecf23), color-stop(1, #fd9215));
  background: -webkit-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -moz-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -o-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -ms-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: linear-gradient(top, #fecf23 0%, #fd9215 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
}
.progress.on {
  display: block;
}
.progress.off {
  display: none;
}
.notice {
  position: fixed;
  width: 400px;
  margin-left: -200px;
  background-color: #fff;
  overflow: hidden;
  left: 50%;
  -webkit-transition: all 0.2s ease 0.2s;
  -moz-transition: all 0.2s ease 0.2s;
  -o-transition: all 0.2s ease 0.2s;
  -ms-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
  -webkit-transform-origin: 100% 0 0;
  -moz-transform-origin: 100% 0 0;
  -o-transform-origin: 100% 0 0;
  -ms-transform-origin: 100% 0 0;
  transform-origin: 100% 0 0;
  -webkit-box-shadow: 0 0 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 1px 0px rgba(0,0,0,0.5);
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.5);
}
.notice .copy {
  color: #5d5d5d;
  font-size: 2em;
  text-align: center;
  padding: 12px 0;
}
.notice .lineloader {
  display: block;
  background-color: #466176;
}
.notice .lineloader span {
  display: block;
  background-color: #7db647;
  width: 40px;
  margin-left: 0px;
  height: 2px;
  -webkit-box-shadow: 0 0 10px #8aca4d;
  -moz-box-shadow: 0 0 10px #8aca4d;
  box-shadow: 0 0 10px #8aca4d;
  -webkit-animation: lineloader 1s ease-in-out infinite alternate;
  -moz-animation: lineloader 1s ease-in-out infinite alternate;
  -o-animation: lineloader 1s ease-in-out infinite alternate;
  -ms-animation: lineloader 1s ease-in-out infinite alternate;
  animation: lineloader 1s ease-in-out infinite alternate;
  height: 2px;
}
.notice.off {
  top: 0px;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.notice.on {
  top: 0px;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
@-moz-keyframes lineloader {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 360px;
  }
}
@-webkit-keyframes lineloader {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 360px;
  }
}
@-o-keyframes lineloader {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 360px;
  }
}
@-ms-keyframes lineloader {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 360px;
  }
}
@keyframes lineloader {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: 360px;
  }
}
/* Hint.css - v1.2.1 - 2013-03-24
* http://kushagragour.in/lab/hint/
* Copyright (c) 2013 Kushagra Gour; Licensed MIT */
.hint, [data-hint] {
position: relative;
display: inline-block;
/**
	 * tooltip arrow
	 */
/**
	 * tooltip body
	 */ 
}

.hint:before, .hint:after, [data-hint]:before, [data-hint]:after {
position: absolute;
visibility: hidden;
opacity: 0;
z-index: 1000000;
pointer-events: none;
-webkit-transition: 0.3s ease;
-moz-transition: 0.3s ease;
transition: 0.3s ease;
}

.hint:hover:before, .hint:hover:after, [data-hint]:hover:before, [data-hint]:hover:after {
visibility: visible;
opacity: 1;
}

.hint:before, [data-hint]:before {
content: '';
position: absolute;
background: transparent;
border: 6px solid transparent;
z-index: 1000001; 
}

.hint:after, [data-hint]:after {
content: attr(data-hint);
background: #383838;
color: white;
text-shadow: 0 -1px 0px black;
padding: 8px 10px;
font-size: 12px;
line-height: 12px;
white-space: nowrap;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 * 
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
border-top-color: #383838;
}

.hint--bottom:before {
border-bottom-color: #383838;
}

.hint--left:before {
border-left-color: #383838; }

.hint--right:before {
border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
margin-bottom: -12px; }
.hint--top:after {
margin-left: -18px; }
.hint--top:before, .hint--top:after {
bottom: 100%;
left: 50%; }
.hint--top:hover:before, .hint--top:hover:after {
-webkit-transform: translateY(-8px);
-moz-transform: translateY(-8px);
transform: translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
margin-top: -12px; }
.hint--bottom:after {
margin-left: -18px; }
.hint--bottom:before, .hint--bottom:after {
top: 100%;
left: 50%; }
.hint--bottom:hover:before, .hint--bottom:hover:after {
-webkit-transform: translateY(8px);
-moz-transform: translateY(8px);
transform: translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
margin-left: -12px;
margin-bottom: -6px; }
.hint--right:after {
margin-bottom: -14px; }
.hint--right:before, .hint--right:after {
left: 100%;
bottom: 50%; }
.hint--right:hover:before, .hint--right:hover:after {
-webkit-transform: translateX(8px);
-moz-transform: translateX(8px);
transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
margin-right: -12px;
margin-bottom: -6px; }
.hint--left:after {
margin-bottom: -14px; }
.hint--left:before, .hint--left:after {
right: 100%;
bottom: 50%; }
.hint--left:hover:before, .hint--left:hover:after {
-webkit-transform: translateX(-8px);
-moz-transform: translateX(-8px);
transform: translateX(-8px); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 * 
 * Classes added:
 * 	1) hint--error
 * 	2) hint--warning
 * 	3) hint--info
 * 	4) hint--success
 * 	
 */
/**
 * Error
 */
.hint--error:after {
background-color: #b34e4d;
text-shadow: 0 -1px 0px #5a2626; }
.hint--error.hint--top:before {
border-top-color: #b34e4d; }
.hint--error.hint--bottom:before {
border-bottom-color: #b34e4d; }
.hint--error.hint--left:before {
border-left-color: #b34e4d; }
.hint--error.hint--right:before {
border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
background-color: #c09854;
text-shadow: 0 -1px 0px #6d5228; }
.hint--warning.hint--top:before {
border-top-color: #c09854; }
.hint--warning.hint--bottom:before {
border-bottom-color: #c09854; }
.hint--warning.hint--left:before {
border-left-color: #c09854; }
.hint--warning.hint--right:before {
border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
background-color: #3986ac;
text-shadow: 0 -1px 0px #193c4c; }
.hint--info.hint--top:before {
border-top-color: #3986ac; }
.hint--info.hint--bottom:before {
border-bottom-color: #3986ac; }
.hint--info.hint--left:before {
border-left-color: #3986ac; }
.hint--info.hint--right:before {
border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
background-color: #458746;
text-shadow: 0 -1px 0px #1a331a; }
.hint--success.hint--top:before {
border-top-color: #458746; }
.hint--success.hint--bottom:before {
border-bottom-color: #458746; }
.hint--success.hint--left:before {
border-left-color: #458746; }
.hint--success.hint--right:before {
border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 * 
 * Classes added:
 * 	1) hint--always
 * 	
 */
.hint--always:after, .hint--always:before {
opacity: 1;
visibility: visible; }
.hint--always.hint--top:after, .hint--always.hint--top:before {
-webkit-transform: translateY(-8px);
-moz-transform: translateY(-8px);
transform: translateY(-8px); }
.hint--always.hint--bottom:after, .hint--always.hint--bottom:before {
-webkit-transform: translateY(8px);
-moz-transform: translateY(8px);
transform: translateY(8px); }
.hint--always.hint--left:after, .hint--always.hint--left:before {
-webkit-transform: translateX(-8px);
-moz-transform: translateX(-8px);
transform: translateX(-8px); }
.hint--always.hint--right:after, .hint--always.hint--right:before {
-webkit-transform: translateX(8px);
-moz-transform: translateX(8px);
transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 * 
 * Classes added:
 * 	1) hint--rounded
 *  
 */
.hint--rounded:after {
border-radius: 4px; }
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url("/css/fnt/fontello.eot?59210452");
  src: url("/css/fnt/fontello.eot?59210452#iefix") format('embedded-opentype'), url("/css/fnt/fontello.woff?59210452") format('woff'), url("/css/fnt/fontello.ttf?59210452") format('truetype'), url("/css/fnt/fontello.svg?59210452#fontello") format('svg');
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-plus:before {
  content: '\2b';
}
.icon-minus:before {
  content: '\2d';
}
.icon-star:before {
  content: '\2605';
}
.icon-star-empty:before {
  content: '\2606';
}
.icon-th-list:before {
  content: '\2630';
}
.icon-heart-empty:before {
  content: '\2661';
}
.icon-heart:before {
  content: '\2665';
}
.icon-cog:before {
  content: '\2699';
}
.icon-cog-alt:before {
  content: '\26ef';
}
.icon-mail:before {
  content: '\2709';
}
.icon-ok:before {
  content: '\2713';
}
.icon-ok-circle:before {
  content: '\2714';
}
.icon-cancel:before {
  content: '\2715';
}
.icon-cancel-circle:before {
  content: '\2716';
}
.icon-plus-circle:before {
  content: '\2795';
}
.icon-minus-circle:before {
  content: '\2796';
}
.icon-ccw:before {
  content: '\27f2';
}
.icon-cw:before {
  content: '\27f3';
}
.icon-resize-vertical:before {
  content: '\2b0c';
}
.icon-resize-horizontal:before {
  content: '\2b0d';
}
.icon-ok-circle2:before {
  content: '\e702';
}
.icon-cancel-circle2:before {
  content: '\e703';
}
.icon-info-circle:before {
  content: '\e705';
}
.icon-tag:before {
  content: '\e70c';
}
.icon-tags:before {
  content: '\e70d';
}
.icon-camera-alt:before {
  content: '\e70f';
}
.icon-resize-full:before {
  content: '\e744';
}
.icon-resize-small:before {
  content: '\e746';
}
.icon-arrows-cw:before {
  content: '\e760';
}
.icon-off:before {
  content: '\e78e';
}
.icon-move:before {
  content: '\f047';
}
.icon-phone-squared:before {
  content: '\f098';
}
.icon-twitter:before {
  content: '\f099';
}
.icon-facebook:before {
  content: '\f09a';
}
.icon-github-circled:before {
  content: '\f09b';
}
.icon-left-circled:before {
  content: '\f0a8';
}
.icon-right-circled:before {
  content: '\f0a9';
}
.icon-up-circled:before {
  content: '\f0aa';
}
.icon-down-circled:before {
  content: '\f0ab';
}
.icon-resize-full-alt:before {
  content: '\f0b2';
}
.icon-menu:before {
  content: '\f0c9';
}
.icon-pinterest-circled:before {
  content: '\f0d2';
}
.icon-pinterest-squared:before {
  content: '\f0d3';
}
.icon-gplus-squared:before {
  content: '\f0d4';
}
.icon-gplus:before {
  content: '\f0d5';
}
.icon-mail-alt:before {
  content: '\f0e0';
}
.icon-desktop:before {
  content: '\f108';
}
.icon-laptop:before {
  content: '\f109';
}
.icon-tablet:before {
  content: '\f10a';
}
.icon-mobile:before {
  content: '\f10b';
}
.icon-github:before {
  content: '\f113';
}
.icon-twitter-squared:before {
  content: '\f304';
}
.icon-facebook-squared:before {
  content: '\f308';
}
.icon-picture:before {
  content: '\1f304';
}
.icon-user:before {
  content: '\1f464';
}
.icon-users:before {
  content: '\1f465';
}
.icon-camera:before {
  content: '\1f4f7';
}
.icon-search:before {
  content: '\1f50d';
}
.icon-lock:before {
  content: '\1f512';
}
.icon-lock-open:before {
  content: '\1f513';
}
.icon-wrench:before {
  content: '\1f527';
}
.icon-block:before {
  content: '\1f6ab';
}
.header {
  padding: 0px 20px;
  background-color: #54728c;
  color: #fff;
}
.header > .title {
  float: left;
  font-size: 2.5em;
  font-weight: bold;
  padding: 5px 0;
}
.header > .logo {
  background: url("/img/logo_40.png");
  width: 40px;
  height: 40px;
  float: left;
  margin: 4px 10px 0 0px;
  -webkit-box-shadow: 0px 0px 2px 0px #34313a;
  -moz-box-shadow: 0px 0px 2px 0px #34313a;
  box-shadow: 0px 0px 2px 0px #34313a;
}
.header > .login {
  float: right;
  color: #fff;
  margin: 5px 0 0 0;
}
.header .tools {
  z-index: 1;
  border: 1px solid #466077;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #708ba6;
  margin: 5px 0 0 -10px;
  padding: 0 10px;
  float: right;
}
.header .hbutton {
  cursor: pointer;
  font-size: 1.2em;
  float: left;
}
.header .hbutton a {
  display: block;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
}
.header .hbutton:hover,
.header .hbutton a:hover {
  color: #fecf23;
  text-shadow: 0px 0px 5px rgba(253,146,21,0.5);
  background-color: #708ba6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.header > .profile {
  padding: 7px 0 0 0;
}
.header > .profile .left {
  z-index: 2;
  float: right;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 -65px 0 0;
}
.header > .profile .left > .name {
  float: left;
  margin: 5px -5px 0 0;
  font-size: 1.3em;
  padding: 7px;
  background-color: #54728c;
}
.header > .profile .left > .picture {
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.header > .profile .left > .picture img {
  width: inherit;
  height: inherit;
}
.header > .profile .left.loading {
  margin: 0;
}
.header .profile:hover .left,
.header .showimport .left {
  margin: 0;
}
.header .showimport .reimport a {
  color: #fecf23;
  text-shadow: 0px 0px 5px rgba(253,146,21,0.5);
  background-color: #708ba6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.header .device {
  float: right;
  background-color: #708ba6;
  border: 1px solid #466077;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 5px 20px 0px 0;
}
.header .device .mobile {
  float: left;
  font-size: 2em;
}
.header .device .none {
  float: right;
  padding: 5px 10px 5px 0;
  font-size: 1.3em;
}
.header .device .none a {
  color: #fff;
  text-decoration: none;
}
.header .device .none a:hover {
  color: #fecf23;
  text-shadow: 0px 0px 5px rgba(253,146,21,0.5);
  background-color: #708ba6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.contacts {
  float: left;
  width: 200px;
  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  -ms-transition: width 0.2s;
  transition: width 0.2s;
  position: relative;
  color: #9e98a9;
  background-color: #2e2b33;
}
.contacts ::-webkit-scrollbar {
  width: 7px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.contacts ::-webkit-scrollbar-track {
  background-color: #3b3841;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
}
.contacts ::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fecf23), color-stop(1, #fd9215));
  background: -webkit-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -moz-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -o-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -ms-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: linear-gradient(left, #fecf23 0%, #fd9215 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.contacts.loading {
  background-color: #ececec;
}
.contacts .body {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.contacts.scrollable .body {
  overflow-y: auto;
}
.contacts.scrollable .body.loading .contact .picture {
  margin: 0 125px 0 0;
}
.contacts.scrollable .body.loading .contact .name {
  opacity: 0;
  -moz-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.contacts.scrollable .body .none {
  cursor: pointer;
  display: none;
  padding: 20px 0;
  text-align: center;
  font-style: italic;
}
.contacts .search {
  border-top: 2px solid #466176;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.2em;
  padding: 5px;
  overflow: hidden;
  background-color: #34313a;
  height: 25px;
}
.contacts .search .icon {
  float: left;
}
.contacts .search input {
  display: block;
  outline: none;
  float: left;
  width: 110px;
  border: none;
  color: #9e98a9;
  margin: 1px 0 0 0;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.contacts .search input::-webkit-input-placeholder {
  color: #a0a0a0;
}
.contacts .search input::-moz-placeholder {
  color: #a0a0a0;
}
.contacts .search.on {
  height: 30px;
  opacity: 1;
  -ms-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
.contacts .search .close,
.contacts .search .minimize {
  float: right;
  margin: 3px 0 0 0;
  cursor: pointer;
  color: #34313a;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.contacts .search .close.on,
.contacts .search .minimize.on,
.contacts .search .close.minimize,
.contacts .search .minimize.minimize {
  color: #9e98a9;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.contacts .search .close.on:hover,
.contacts .search .minimize.on:hover,
.contacts .search .close.minimize:hover,
.contacts .search .minimize.minimize:hover {
  color: #fecf23;
  text-shadow: 0px 0px 5px rgba(253,146,21,0.5);
  background-color: #708ba6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #9e98a9;
}
.resizer {
  cursor: ew-resize;
  position: relative;
  float: right;
  width: 3px;
  height: 535px;
  background-color: #ececec;
  border-left: 2px solid #dadada;
  border-right: 2px solid #dadada;
  font-size: 0.8em;
}
.resizer .handle {
  position: absolute;
  top: 50%;
  width: 3px;
  height: 20px;
  padding: 10px 0;
  margin-top: -20px;
  cursor: pointer;
}
.resizer .handle:hover {
  background-color: rgba(0,0,255,0.2);
}
.resizer .handle .dot {
  font-size: 2em;
  line-height: 0.25em;
  color: #a0a0a0;
  margin: 0 0 0 -2px;
}
.ghost {
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
}
.ghost:hover {
  background-color: #8aca4d;
}
.ghost:active {
  background-color: #fecf23;
}
.contact {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  padding: 2px;
  font-size: 1.2em;
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid rgba(158,152,169,0.5);
}
.contact .name {
  text-align: left;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #9e98a9;
  line-height: 40px;
  padding: 0 0 0 5px;
  opacity: 1;
  -ms-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
.contact .name span {
  color: #fff;
  background-color: #fd9215;
}
.contact .picture {
  float: right;
  border: 2px solid #9e98a9;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  -ms-transition: margin 0.2s;
  transition: margin 0.2s;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.contact .picture img {
  width: 40px;
}
.contact .picture div {
  font-size: 2em;
  color: #9e98a9;
  margin: 0 0 0 -3px;
}
.contact:hover {
  background-color: #4588f9;
}
.contact:hover .name,
.contact:hover .icon-user {
  color: #fff;
}
.contact:hover .picture {
  border: 2px solid #fff;
}
.boxes {
  overflow: auto;
  margin: 0 0 0 200px;
  border-top: 2px solid #466176;
  padding: 2px 2px 0 2px;
  position: relative;
}
.boxes ::-webkit-scrollbar {
  width: 5px;
}
.boxes ::-webkit-scrollbar-track {
  background-color: #54728c;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
}
.boxes ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fecf23), color-stop(1, #fd9215));
  background: -webkit-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -moz-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -o-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: -ms-linear-gradient(left, #fecf23 0%, #fd9215 100%);
  background: linear-gradient(left, #fecf23 0%, #fd9215 100%);
}
.boxes.loading {
  background-color: #ececec;
}
.boxes > .box {
  margin: 5px;
  width: 250px;
  float: left;
  background-color: #ececec;
  overflow: hidden;
  -webkit-transition: all 1.8s;
  -moz-transition: all 1.8s;
  -o-transition: all 1.8s;
  -ms-transition: all 1.8s;
  transition: all 1.8s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
}
.boxes > .box.maximize {
  width: 99%;
}
.boxes > .box.glow {
  -webkit-box-shadow: 0 0 5px 1px #fd9215;
  -moz-box-shadow: 0 0 5px 1px #fd9215;
  box-shadow: 0 0 5px 1px #fd9215;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.boxes > .box.closing1,
.boxes > .box.closing2 {
  opacity: 0;
  -moz-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.boxes > .box.closing1 {
  -webkit-transform: translateX(-30rem) rotate(15deg);
  -moz-transform: translateX(-30rem) rotate(15deg);
  -o-transform: translateX(-30rem) rotate(15deg);
  -ms-transform: translateX(-30rem) rotate(15deg);
  transform: translateX(-30rem) rotate(15deg);
}
.boxes > .box.closing2 {
  -webkit-transform: translateX(-30rem) rotate(-15deg);
  -moz-transform: translateX(-30rem) rotate(-15deg);
  -o-transform: translateX(-30rem) rotate(-15deg);
  -ms-transform: translateX(-30rem) rotate(-15deg);
  transform: translateX(-30rem) rotate(-15deg);
}
.boxes > .box .label {
  background-color: #54728c;
  font-size: 1.2em;
  border-bottom: 2px solid #466176;
}
.boxes > .box .label .controls {
  float: right;
  padding: 5px 5px 5px 0;
}
.boxes > .box .label .controls .restore {
  display: none;
}
.boxes > .box .label .controls .bbutton {
  float: right;
  cursor: pointer;
  padding: 2px;
  color: #fff;
  font-size: 1em;
}
.boxes > .box .label .controls .bbutton:hover {
  color: #fecf23;
  text-shadow: 0px 0px 5px rgba(253,146,21,0.5);
  background-color: #708ba6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.boxes > .box .label .name {
  color: #fff;
  padding: 5px 0 0 10px;
}
.boxes > .box .label .phone {
  color: #dadada;
  font-size: 0.7em;
  padding: 0 0 5px 10px;
}
.boxes > .box .body {
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  overflow-y: auto;
  height: 300px;
  position: relative;
}
.boxes > .box .body .none {
  text-align: center;
  font-size: 0.8em;
  color: #a0a0a0;
  font-style: italic;
  padding: 5px;
}
.boxes > .box .body.loading {
  background-color: #ececec;
}
.boxes > .box .body .message {
  margin: 1px 0 0 0;
  padding: 2px;
  background-color: #fff;
  min-height: 40px;
}
.boxes > .box .body .message .picture {
  background-color: #ececec;
  width: 40px;
  height: 40px;
  font-size: 2em;
}
.boxes > .box .body .message .picture img {
  width: 40px;
  height: 40px;
}
.boxes > .box .body .message .date {
  white-space: nowrap;
  padding: 5px 0 0 0;
}
.boxes > .box .body .message .date abbr[title] {
  border-bottom-width: 0;
}
.boxes > .box .body .message.from {
  text-align: right;
}
.boxes > .box .body .message.from .picture {
  float: right;
  margin: 0 0 0 5px;
}
.boxes > .box .body .message.from .copy,
.boxes > .box .body .message.from .date {
  margin: 0 40px 0 0;
}
.boxes > .box .body .message.to {
  text-align: left;
}
.boxes > .box .body .message.to .picture {
  float: left;
  margin: 0 5px 0 0;
}
.boxes > .box .body .message.to .copy,
.boxes > .box .body .message.to .date {
  margin: 0 0 0 40px;
}
.boxes > .box .body .message.fromLeft {
  -webkit-animation: fromLeft 0.5s 0s ease both;
  -moz-animation: fromLeft 0.5s 0s ease both;
  -o-animation: fromLeft 0.5s 0s ease both;
  -ms-animation: fromLeft 0.5s 0s ease both;
  animation: fromLeft 0.5s 0s ease both;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}
.boxes > .box .body .message.fromRight {
  -webkit-animation: fromRight 0.5s 0s ease both;
  -moz-animation: fromRight 0.5s 0s ease both;
  -o-animation: fromRight 0.5s 0s ease both;
  -ms-animation: fromRight 0.5s 0s ease both;
  animation: fromRight 0.5s 0s ease both;
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}
.boxes > .box .body .message.fromBottomLeft {
  -webkit-animation: fromBottomLeft 0.5s 0s ease both;
  -moz-animation: fromBottomLeft 0.5s 0s ease both;
  -o-animation: fromBottomLeft 0.5s 0s ease both;
  -ms-animation: fromBottomLeft 0.5s 0s ease both;
  animation: fromBottomLeft 0.5s 0s ease both;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.boxes > .box .body .message.fromBottomRight {
  -webkit-animation: fromBottomRight 0.5s 0s ease both;
  -moz-animation: fromBottomRight 0.5s 0s ease both;
  -o-animation: fromBottomRight 0.5s 0s ease both;
  -ms-animation: fromBottomRight 0.5s 0s ease both;
  animation: fromBottomRight 0.5s 0s ease both;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.boxes > .box .body .message .date {
  color: #a0a0a0;
  font-size: 0.8em;
}
.boxes > .box .bottom {
  background-color: #fff;
}
.boxes > .box .bottom .input input {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width: 200px;
  padding: 5px 0 5px 5px;
  margin: 5px 0 5px 5px;
  border: 1px solid #fff;
  outline: none;
  color: #5d5d5d;
}
.boxes > .box .bottom .input input:disabled {
  background-color: inherit;
}
.boxes > .box .bottom .input input::-webkit-input-placeholder {
  color: #a0a0a0;
}
.boxes > .box .bottom .input input::-moz-placeholder {
  color: #a0a0a0;
}
.boxes > .box .bottom .input input:focus {
  -webkit-box-shadow: 0 0 1px 0px #fd9215;
  -moz-box-shadow: 0 0 1px 0px #fd9215;
  box-shadow: 0 0 1px 0px #fd9215;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.boxes > .box .bottom .enter {
  float: right;
  cursor: pointer;
  background-image: url("/img/send.png");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  margin: 7px 3px 0 0;
  width: 28px;
  height: 28px;
}
@-moz-keyframes fromLeft {
  0% {
    -webkit-transform: translateY(-15rem) rotate(15deg);
    -moz-transform: translateY(-15rem) rotate(15deg);
    -o-transform: translateY(-15rem) rotate(15deg);
    -ms-transform: translateY(-15rem) rotate(15deg);
    transform: translateY(-15rem) rotate(15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateY(-15rem) rotate(15deg);
    -moz-transform: translateY(-15rem) rotate(15deg);
    -o-transform: translateY(-15rem) rotate(15deg);
    -ms-transform: translateY(-15rem) rotate(15deg);
    transform: translateY(-15rem) rotate(15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromLeft {
  0% {
    -webkit-transform: translateY(-15rem) rotate(15deg);
    -moz-transform: translateY(-15rem) rotate(15deg);
    -o-transform: translateY(-15rem) rotate(15deg);
    -ms-transform: translateY(-15rem) rotate(15deg);
    transform: translateY(-15rem) rotate(15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromLeft {
  0% {
    -webkit-transform: translateY(-15rem) rotate(15deg);
    -moz-transform: translateY(-15rem) rotate(15deg);
    -o-transform: translateY(-15rem) rotate(15deg);
    -ms-transform: translateY(-15rem) rotate(15deg);
    transform: translateY(-15rem) rotate(15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromLeft {
  0% {
    -webkit-transform: translateY(-15rem) rotate(15deg);
    -moz-transform: translateY(-15rem) rotate(15deg);
    -o-transform: translateY(-15rem) rotate(15deg);
    -ms-transform: translateY(-15rem) rotate(15deg);
    transform: translateY(-15rem) rotate(15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes fromRight {
  0% {
    -webkit-transform: translateY(-15rem) rotate(-15deg);
    -moz-transform: translateY(-15rem) rotate(-15deg);
    -o-transform: translateY(-15rem) rotate(-15deg);
    -ms-transform: translateY(-15rem) rotate(-15deg);
    transform: translateY(-15rem) rotate(-15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateY(-15rem) rotate(-15deg);
    -moz-transform: translateY(-15rem) rotate(-15deg);
    -o-transform: translateY(-15rem) rotate(-15deg);
    -ms-transform: translateY(-15rem) rotate(-15deg);
    transform: translateY(-15rem) rotate(-15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromRight {
  0% {
    -webkit-transform: translateY(-15rem) rotate(-15deg);
    -moz-transform: translateY(-15rem) rotate(-15deg);
    -o-transform: translateY(-15rem) rotate(-15deg);
    -ms-transform: translateY(-15rem) rotate(-15deg);
    transform: translateY(-15rem) rotate(-15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromRight {
  0% {
    -webkit-transform: translateY(-15rem) rotate(-15deg);
    -moz-transform: translateY(-15rem) rotate(-15deg);
    -o-transform: translateY(-15rem) rotate(-15deg);
    -ms-transform: translateY(-15rem) rotate(-15deg);
    transform: translateY(-15rem) rotate(-15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromRight {
  0% {
    -webkit-transform: translateY(-15rem) rotate(-15deg);
    -moz-transform: translateY(-15rem) rotate(-15deg);
    -o-transform: translateY(-15rem) rotate(-15deg);
    -ms-transform: translateY(-15rem) rotate(-15deg);
    transform: translateY(-15rem) rotate(-15deg);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes fromBottomLeft {
  0% {
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -o-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromBottomLeft {
  0% {
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -o-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromBottomLeft {
  0% {
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -o-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromBottomLeft {
  0% {
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -o-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromBottomLeft {
  0% {
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -o-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-moz-keyframes fromBottomRight {
  0% {
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -o-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-webkit-keyframes fromBottomRight {
  0% {
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -o-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-o-keyframes fromBottomRight {
  0% {
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -o-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@-ms-keyframes fromBottomRight {
  0% {
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -o-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes fromBottomRight {
  0% {
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -o-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    opacity: 0;
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    -webkit-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  color: #5d5d5d;
  background-color: #5d5d5d;
}
.body {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  font-size: 1em;
  background-color: #f9f9f9;
}
.container.off {
  text-align: center;
  height: 50em;
  line-height: 50em;
}
.footer {
  color: #fff;
  text-align: right;
  padding: 10px 20px;
  background-color: #54728c;
  border-top: 2px solid #466176;
}
