.smodal {
  position: fixed;
  width: 400px;
  height: 150px;
  background-color: #54728c;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -75px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.smodal .title,
.smodal .detail {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}
.smodal .detail {
  font-style: italic;
}
.smodal .title {
  font-size: 2em;
}
.smodal.off {
  height: 0px;
  opacity: 0;
  -moz-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  -webkit-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.smodal.on {
  height: 150px;
  opacity: 1;
  -ms-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
}
.overlay.on {
  display: block;
}
.overlay.off {
  display: none;
}
.focus {
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.progress {
  margin: auto;
  position: relative;
  width: 350px;
  height: 25px;
  padding: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #466077;
  -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.5);
  color: #fff;
}
.progress .copy {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgba(255,255,0,0) 0;
  margin-top: -25px;
}
.progress.orange span {
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -o-transition: width 3s;
  -ms-transition: width 3s;
  transition: width 3s;
  display: inline-block;
  color: #fff;
  height: 100%;
  width: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fecf23;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fecf23), color-stop(1, #fd9215));
  background: -webkit-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -moz-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -o-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: -ms-linear-gradient(top, #fecf23 0%, #fd9215 100%);
  background: linear-gradient(top, #fecf23 0%, #fd9215 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
}
.progress.on {
  display: block;
}
.progress.off {
  display: none;
}
.notice {
  font-size: 2em;
}
@font-face {
  font-family: 'fontello';
  src: url("/css/fnt/fontello.eot?86860587");
  src: url("/css/fnt/fontello.eot?86860587#iefix") format('embedded-opentype'), url("/css/fnt/fontello.woff?86860587") format('woff'), url("/css/fnt/fontello.ttf?86860587") format('truetype'), url("/css/fnt/fontello.svg?86860587#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-plus:before {
  content: '\2b';
}
.icon-minus:before {
  content: '\2d';
}
.icon-left:before {
  content: '\2190';
}
.icon-up:before {
  content: '\2191';
}
.icon-right:before {
  content: '\2192';
}
.icon-down:before {
  content: '\2193';
}
.icon-home:before {
  content: '\2302';
}
.icon-cog:before {
  content: '\2699';
}
.icon-key:before {
  content: '\26bf';
}
.icon-mail:before {
  content: '\2709';
}
.icon-ok:before {
  content: '\2713';
}
.icon-ok-circle:before {
  content: '\2714';
}
.icon-cancel:before {
  content: '\2715';
}
.icon-cancel-circle:before {
  content: '\2716';
}
.icon-plus-circle:before {
  content: '\2795';
}
.icon-minus-circle:before {
  content: '\2796';
}
.icon-cw:before {
  content: '\27f3';
}
.icon-resize-vertical:before {
  content: '\2b0c';
}
.icon-resize-horizontal:before {
  content: '\2b0d';
}
.icon-lock-empty:before {
  content: '\e708';
}
.icon-lock-open-empty:before {
  content: '\e709';
}
.icon-resize-full:before {
  content: '\e744';
}
.icon-resize-full-alt:before {
  content: '\e745';
}
.icon-resize-small:before {
  content: '\e746';
}
.icon-resize-small-alt:before {
  content: '\e747';
}
.icon-move:before {
  content: '\e74a';
}
.icon-popup:before {
  content: '\e74c';
}
.icon-list:before {
  content: '\e765';
}
.icon-list-nested:before {
  content: '\e766';
}
.icon-equalizer:before {
  content: '\e795';
}
.icon-user:before {
  content: 'ð';
}
.icon-mobile:before {
  content: 'ð';
}
.icon-key-inv:before {
  content: 'ð';
}
.icon-lock:before {
  content: 'ð';
}
.icon-lock-open:before {
  content: 'ð';
}
.header {
  padding: 5px 20px;
  background-color: #54728c;
  color: #fff;
}
.header .logo {
  float: left;
  font-size: 2.5em;
  font-weight: bold;
}
.header .login {
  float: right;
  color: #fff;
  margin: 5px 0 0 0;
}
.header .hbutton {
  cursor: pointer;
  border: 2px solid #466077;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #708ba6;
  padding: 5px 12px;
}
.header .hbutton a {
  color: #fff;
  text-decoration: none;
}
.header .profile {
  float: right;
}
.header .profile .name {
  float: left;
  margin: 10px 0 0 0;
  font-size: 1.3em;
  padding: 0 5px;
}
.header .profile .picture {
  float: right;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.header .profile .picture img {
  width: inherit;
  height: inherit;
}
.header .profile .tools {
  float: right;
  margin: 0 0 0 -10px;
}
.header .profile .tools .logout {
  text-align: center;
  margin: 6px 0 0 0;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  color: #5d5d5d;
  background-color: #5d5d5d;
}
.body {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
.container {
  font-size: 1em;
  text-align: center;
  background-color: #f9f9f9;
  padding: 100px;
}
.footer {
  color: #fff;
  text-align: right;
  padding: 10px 20px;
  background-color: #54728c;
}
