
.boxes

  ::-webkit-scrollbar
    width 5px
  ::-webkit-scrollbar-track
    background-color blue1
    box-shadow inset 1px 1px 5px rgba(0, 0, 0, 0.5)
  ::-webkit-scrollbar-thumb
    border-radius 2px
    background linear-gradient(left, #fecf23, #fd9215)

  overflow auto
  margin 0 0 0 200px
  padding 2px 2px 0 2px
  position relative
  &.loading
    background-color white3

  >.box
    margin 5px
    width 250px
    float left
    background-color white3
    overflow hidden
    transition all 1.8s
    &.glow
      box-shadow 0 0 5px 1px rgba(orange2, 1)
      transition all 0.2s
    &.closing
      opacity 0
      transition all 0.2s
    &:hover .label .controls .bbutton
      margin 0
      transition all 0.2s
      transform rotate(180deg)
    .label
      background-color blue1
      font-size 1.2em
      .controls
        float right
        .bbutton
          cursor pointer
          padding 5px
          color white1
          transition all 0.2s
          margin 0 -35px 0 0
          font-size 1.5em
          &:hover
            buttonhover()
      .name
        color white1
        padding 5px 0 0 10px
      .phone
        color white4
        font-size 0.7em
        padding 0 0 5px 10px
    .body
      border-left 2px solid white4
      border-right 2px solid white4
      border-bottom 1px solid white3
      overflow hidden
      overflow-y auto
      height 300px
      position relative
      .message
        margin 0 0 1px 0
        padding 2px
        background-color white1
        min-height 40px
        .picture
          background-color white3
          width s = 40px
          img
            width s
            height s
        &.from
          text-align right
          .picture
            float right
            margin 0 0 0 5px
          .copy, .date
            margin 0 40px 0 0
        &.to
          text-align left
          .picture
            float left
            margin 0 5px 0 0
          .copy, .date
            margin 0 0 0 40px
        .date
          color black2
          font-size 0.8em
    .bottom
      background-color white1
      border-left 2px solid white4
      border-right 2px solid white4
      border-bottom 2px solid white4
      .input
        textarea
          font-family inherit
          font-size inherit
          resize none
          width 200px
          height 2em
          padding 10px 0 0 5px
          border none
          outline none
          color black1
          &::-webkit-input-placeholder
            color black2
          &::-moz-placeholder
            color black2
      .enter
        float right
        cursor pointer
        background-image url('/img/send.png')
        background-size 100%
        margin 7px 3px 0 0
        width 28px
        height 28px
