
.boxes

  ::-webkit-scrollbar
    width 5px
  ::-webkit-scrollbar-track
    background-color blue1
    box-shadow inset 1px 1px 5px rgba(0, 0, 0, 0.5)
  ::-webkit-scrollbar-thumb
    border-radius 2px
    background linear-gradient(left, #fecf23, #fd9215)

  overflow auto
  margin 0 0 0 200px
  border-top 2px solid blue4
  padding 2px 2px 0 2px
  position relative
  &.loading
    background-color white3

  > .box
    margin 5px
    width 250px
    float left
    background-color white3
    overflow hidden
    transition all 1.8s
    border-radius 3px
    box-sizing border-box
    border 1px solid black3
    border-bottom-width 2px
    border-top-width 0
    &.maximize
      width 99%
    &.glow
      box-shadow 0 0 5px 1px rgba(orange2, 1)
      transition box-shadow 0.2s
    &.closing1, &.closing2
      opacity 0
      transition all 0.2s
    &.closing1
      transform translateX(-30rem) rotate(15deg)
    &.closing2
      transform translateX(-30rem) rotate(-15deg)

    .label
      background-color blue1
      font-size 1.2em
      border-bottom 2px solid blue4
      .controls
        float right
        padding 5px 5px 5px 0
        .restore
          display none
        .bbutton
          float right
          cursor pointer
          padding 2px
          color white1
          font-size 1em
          &:hover
            buttonhover()
      .name
        color white1
        padding 5px 0 0 10px
      .phone
        color white4
        font-size 0.7em
        padding 0 0 5px 10px
    .body
      border-bottom 1px solid white3
      overflow hidden
      overflow-y auto
      height 300px
      width 250px
      position relative
      .none
        text-align center
        font-size 0.8em
        color black2
        font-style italic
        padding 5px
      &.loading
          background-color white3
      .wrapper
        display table-cell
        vertical-align bottom
        height inherit
      .message
        margin 0 0 1px 0
        padding 2px
        background-color white1
        min-height 40px
        .picture
          background-color white3
          width s = 40px
          height s
          font-size 2em
          img
            width s
            height s
        &.from
          text-align right
          .picture
            float right
            margin 0 0 0 5px
          .copy, .date
            margin 0 40px 0 0
          .date abbr[title]
            border-bottom-width 0
        &.to
          text-align left
          .picture
            float left
            margin 0 5px 0 0
          .copy, .date
            margin 0 0 0 40px
        &.fromLeft
          animation fromLeft .5s 0s ease both
          transform-origin bottom left
        &.fromRight
          animation fromRight .5s 0s ease both
          transform-origin bottom right
        &.fromBottomLeft
          animation fromBottomLeft .5s 0s ease both
          transform-origin top right
        &.fromBottomRight
          animation fromBottomRight .5s 0s ease both
          transform-origin top left
        .date
          color black2
          font-size 0.8em
        .date abbr[title]
          border-bottom-width 0
    .bottom
      background-color white1
      .input
        input
          font-family inherit
          font-size inherit
          resize none
          width 200px
          padding 5px 0 5px 5px
          margin 5px 0 5px 5px
          border 1px solid white1
          outline none
          color black1
          &:disabled
            background-color inherit
          &::-webkit-input-placeholder
            color black2
          &::-moz-placeholder
            color black2
          &:focus
            box-shadow 0 0 1px 0px rgba(orange2, 1)
            transition box-shadow 0.2s
      .enter
        float right
        cursor pointer
        background-image url('/img/send.png')
        background-size 100%
        margin 7px 3px 0 0
        width 28px
        height 28px



@keyframes fromLeft
  from 
    transform translateY(-15rem) rotate(15deg)
    opacity 0 

@keyframes fromRight
  from
    transform translateY(-15rem) rotate(-15deg)
    opacity 0 

@keyframes fromBottomLeft
  from
    transform translateX(-20rem)
    opacity 0 

@keyframes fromBottomRight
  from
    transform translateX(20rem)
    opacity 0 
