
.contacts

  ::-webkit-scrollbar
    width 7px
    border-radius 5px
  ::-webkit-scrollbar-track
    background-color dark5
    box-shadow inset 1px 1px 5px rgba(0, 0, 0, 0.5)
  ::-webkit-scrollbar-thumb
    background linear-gradient(left, orange1, orange2)
    border-radius 2px

  float left
  width 200px
  transition width 0.2s
  position relative
  color dark3
  background-color dark1
  &.loading
    background-color white3
  .body
    position relative
    height 500px
    overflow hidden
  &.scrollable .body
    overflow-y auto
    &.loading .contact
      .picture
        margin 0 125px 0 0
      .name
        opacity 0
    .none
      cursor pointer
      display none
      padding 20px 0
      text-align center
      font-style italic

  .search
    border-top 2px solid dark4
    border-bottom 1px solid dark4
    transition all 0.2s
    font-size 1.2em
    padding 5px
    overflow hidden
    background-color dark1
    height 25px
    .icon
      float left
    input
      display block
      outline none
      float left
      width 110px
      border none
      color white1
      margin 1px 0 0 0
      background-color inherit
      font-family inherit
      font-size inherit
      &::-webkit-input-placeholder
        color dark5
      &::-moz-placeholder
        color dark5
    &.on
      height 30px
      opacity 1
    .close, .minimize
      float right
      margin 3px 0 0 0
      cursor pointer
      color dark1
      transition color 0.2s
      &.on, &.minimize
        color dark3
        transition color 0.2s
        &:hover
          buttonhover()

/*
.contacts:hover .groups-button
  opacity 1
  left 35px
*/

.resizer
  cursor ew-resize
  position relative
  float right
  width 3px
  height 535px
  background-color white3
  border-left 2px solid white4
  border-right 2px solid white4
  font-size 0.8em
  .handle
    position absolute
    top 50%
    width 3px
    height 20px
    padding 10px 0
    margin-top -20px
    cursor pointer
    &:hover
      background-color rgba(0, 0, 255, 0.2)
    .dot
      font-size 2em
      line-height 0.25em
      color black2
      margin 0 0 0 -2px

.ghost
  z-index 10
  position absolute
  top 0px
  left 0px
  width 5px
  height 100%
  transition background-color 0.2s

.ghost:hover 
  background-color rgba(green2, 1)

.ghost:active
  background-color rgba(orange1, 1)

.contact
  transition all 0.2s
  cursor pointer
  padding 2px
  font-size 1.2em
  height 44px
  overflow hidden
  border-top 1px solid dark2
  border-bottom 1px solid dark4
  .name
    text-align left
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    transition opacity 0.2s
    transition-delay 0.2s
    color dark3
    line-height 40px
    padding 0 0 0 5px
    opacity 1
    span
      color white1
      background-color orange2
      border-radius 5px
  .picture
    float right
    border 2px solid dark3
    transition margin 0.2s 
    width size = 40px
    height size
    overflow hidden
    img
      width size
    border-radius 50%
    overflow hidden
    div
      font-size 2em
      color dark3
      margin 0 0 0 -3px
  &:hover
    border-top 1px solid blue2
    background-color blue1
  &:hover .name, &:hover .icon-user
    color white1
  &:hover .picture
    border 2px solid white1

