
.contacts
  float left
  width 200px
  height 500px
  transition width 0.2s
  &.loading
    background-color white3
  .body
    position relative
    height 100%
    overflow hidden
  &.scrollable .body
    overflow-y auto


.resizer
  cursor ew-resize
  position relative
  float right
  width 5px
  height 500px
  background-color white3
  border-left 2px solid white4
  border-right 2px solid white4
  .handle
    position absolute
    top 50%
    width 5px
    height 20px
    padding 10px 0
    margin-top -20px
    cursor pointer
    &:hover
      background-color rgba(0, 0, 255, 0.2)
    .dot
      font-size 2em
      line-height 0.25em
      color black2
      margin 0 0 0 -2px

.ghost
  position absolute
  top 0px
  left 0px
  width 7px
  height 100%

.ghost:hover 
  background-color rgba(0, 255, 0, 0.5)

.ghost:active
  background-color rgba(255, 155, 0, 0.8)


.contact
  cursor pointer
  border-bottom 1px solid white4
  padding 2px
  .name
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    color black1
    line-height 40px
    padding 0 0 0 5px

  .picture
    float right
    width size = 40px
    height size
    img
      width size
    border-radius 50%
    overflow hidden
  &:hover
    background-color blue1
  &:hover .name
    color white1
  &:hover .default .bottom, &:hover .default .top
    background-color white1
    .name
      color white1
  .default
    overflow hidden
    .top
      width 25px
      height 25px
      background-color blue1
      border-radius 50%
      margin 5px auto 0
    .bottom
      width 40px
      height 10px
      background-color blue1
      border-radius 50% 50% 0 0
      margin auto
