
.header .device
  float right
  position relative
  background-color dark5
  border 1px solid dark3
  border-radius 3px
  margin 5px 20px 0px 0
  padding 0 10px
  .mobile
    float left
    font-size 2em
  .build
    float right
    padding 5px 10px 5px 0
    font-size 1.3em
    color white
    a
      color white
      text-decoration none
      &:hover
        buttonhover()
  .batterycontainer
    float right
    width 48px
    height 20px
    margin 9px 0 0
  .charging, .charging:after
    position absolute
    top 1px
    right 17px
    font-size 2em
    color dark5

.header .device.none
  .mobile
    color rgba(white1, 0.5)

.header .device
  &.active
    .mobile
      color rgba(white1, 1)
