@font-face 
  font-family: 'fontello';
  src: url('/css/fnt/fontello.eot?86860587');
  src: url('/css/fnt/fontello.eot?86860587#iefix') format('embedded-opentype'),
  url('/css/fnt/fontello.woff?86860587') format('woff'),
  url('/css/fnt/fontello.ttf?86860587') format('truetype'),
  url('/css/fnt/fontello.svg?86860587#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'fontello';
src: url('/css/fnt/fontello.svg?86860587#fontello') format('svg');
}
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before 
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-left:before { content: '\2190'; } /* 'â' */
.icon-up:before { content: '\2191'; } /* 'â' */
.icon-right:before { content: '\2192'; } /* 'â' */
.icon-down:before { content: '\2193'; } /* 'â' */
.icon-home:before { content: '\2302'; } /* 'â' */
.icon-cog:before { content: '\2699'; } /* 'â' */
.icon-key:before { content: '\26bf'; } /* 'â' */
.icon-mail:before { content: '\2709'; } /* 'â' */
.icon-ok:before { content: '\2713'; } /* 'â' */
.icon-ok-circle:before { content: '\2714'; } /* 'â' */
.icon-cancel:before { content: '\2715'; } /* 'â' */
.icon-cancel-circle:before { content: '\2716'; } /* 'â' */
.icon-plus-circle:before { content: '\2795'; } /* 'â' */
.icon-minus-circle:before { content: '\2796'; } /* 'â' */
.icon-cw:before { content: '\27f3'; } /* 'â' */
.icon-resize-vertical:before { content: '\2b0c'; } /* 'â' */
.icon-resize-horizontal:before { content: '\2b0d'; } /* '⬍' */
.icon-lock-empty:before { content: '\e708'; } /* 'î' */
.icon-lock-open-empty:before { content: '\e709'; } /* 'î' */
.icon-resize-full:before { content: '\e744'; } /* 'î' */
.icon-resize-full-alt:before { content: '\e745'; } /* 'î' */
.icon-resize-small:before { content: '\e746'; } /* 'î' */
.icon-resize-small-alt:before { content: '\e747'; } /* 'î' */
.icon-move:before { content: '\e74a'; } /* 'î' */
.icon-popup:before { content: '\e74c'; } /* 'î' */
.icon-list:before { content: '\e765'; } /* '' */
.icon-list-nested:before { content: '\e766'; } /* '' */
.icon-equalizer:before { content: '\e795'; } /* 'î' */
.icon-user:before { content: 'ð'; } /* '\1f464' */
.icon-mobile:before { content: 'ð'; } /* '\1f4f1' */
.icon-key-inv:before { content: 'ð'; } /* '\1f511' */
.icon-lock:before { content: 'ð'; } /* '\1f512' */
.icon-lock-open:before { content: 'ð'; } /* '\1f513' */

