filter(args)
 -moz-filter args
 -o-filter args
 -webkit-filter args
 filter args

buttonhover()
  color orange1
  text-shadow 0px 0px 5px rgba(orange2, 0.5)
  background-color dark3
  transition all 0.2s
