

.notice
  position fixed
  width w = 400px
  background-color white3
  overflow hidden
  left 50%
  margin-left -(w / 2)px
  box-shadow 0 0 0 5px 2px rgba(0, 0, 0, 0.5)

  transition all linear 0.15s
  transform-origin top

  perspective 1000px
  transform-style preserve-3d
  top 0px
  .copy
    color black1
    font-size 2em
    text-align center;
    line-height 1.5em

.notice.off
  height 0
  transform rotateX(-90deg)

.notice.on
  height 3em
  transform rotateX(0deg)
