
white1 = #ffffff
white2 = #f9f9f9
white3 = #ececec
white4 = #dadada

// blacks
black1 = #5d5d5d
black2 = #a0a0a0
black3 = #d8d8d8
black4 = #cecece

// darks
dark1 = #34313a
dark2 = #3b3841
dark3 = #9e98a9
dark4 = #2e2b33
dark5 = #635f6c


// lights
light1a = #f6f4f9
light1b = #eeebf3

light2a = #e4e1ea
light2b = #e0dce5

lightborder1 = #cdc8d5
lightborder2 = #e3dfea

blue1 = #478cff
blue2 = #2774f0

orange1 = #fecf23
orange2 = #fd9215

green1 = #7db647
green2 = #8aca4d
