
@import _mixins
@import _vars

@import 'nib'

@import _loader
@import _mloader
@import _modal
@import _notice

@import _hint

@import _fonts

@import _header
@import _contacts
@import _boxes

.clear
  clearfix()


body,html
  padding 0
  margin 0
  font-family 'Droid Sans',tahoma,verdana,arial,sans-serif
  font-size 14px
  color black1
  background-color black1

.body
  transition all 0.1s
       
.container
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size 1em
  background-color white2
.container.off
  text-align center
  height h = 50em
  line-height h
.footer
  color white1
  text-align right
  padding 10px 20px
  background-color blue1
  border-top 2px solid blue4
