
@import 'nib'
@import _vars

.clear
  clearfix()

body,html
  padding 0
  margin 0
  font-family 'Droid Sans',tahoma,verdana,arial,sans-serif
  font-size 14px
  color black1

.header
  padding 5px 20px
  background-color blue1
  color white1
  .logo
    float left
    font-size 28px
    font-weight bold

  .login
    float right
    color white1
  .hbutton
    cursor pointer
    border 2px solid blue3
    border-radius 5px
    background-color blue2
    padding 5px 10px
    a
      color white1
      text-decoration none

.container
  font-size 1em
  text-align center
  background-color white2
  padding 100px


.footer
  text-align right
  padding 10px 20px
